/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --color-primary-light: #57dede;
  --color-primary-dark: #ffffff;
  --color-secondary-dark: #fddd7c;
  --color-secondary-light: #d8e5fa;
  --color-dark-component: #49493c;
  --color-light-component: #73777b;
  --color-dark-secondary: #e9f0f1;
  --color-dark-primary: #92b4ec;
  --color-white: #ffffff; }

@keyframes moveToBottomLittle {
  0% {
    transform: translateY(1rem); }
  100% {
    transform: translate(0); } }

@keyframes moveToBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes rotate {
  from {
    transform: scale(1.2) rotate(20deg); }
  to {
    transform: none; } }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.icon {
  fill: var(--color-secondary-dark);
  width: 2rem;
  height: 2rem;
  animation: moveToBottomLittle 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-delay: none;
  cursor: pointer; }

.svg-icon {
  width: 3rem;
  height: 3rem; }

.list--icon {
  margin-bottom: -0.5rem; }

.play--icon {
  fill: white;
  cursor: pointer;
  width: 20%;
  margin-bottom: -4rem; }

.text--bg {
  position: relative;
  color: black; }
  .text--bg::after {
    content: "";
    position: absolute;
    background-color: var(--color-secondary-dark);
    width: 100%;
    left: 0;
    bottom: 0;
    display: block;
    z-index: -1;
    height: 100%;
    transform: scale(1.07, 1.05) skewX(-15deg); }

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 50rem;
  width: 0;
  background-color: #00435e;
  z-index: 10;
  flex-direction: column;
  justify-content: space-around;
  transition: all 0.5s; }

.navbar__checkbox {
  display: none; }
  .navbar__checkbox:checked ~ .navbar {
    display: flex;
    width: 55rem;
    height: 50rem; }

.navbar__button {
  z-index: 11;
  position: fixed;
  display: none;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  align-items: center;
  width: 6rem;
  height: 5rem;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  border: 1px solid var(--color-secondary-dark);
  cursor: pointer; }
  .navbar__button:hover .navbar__icon::after {
    top: 1.1rem; }
  .navbar__button:hover .navbar__icon::before {
    top: -1.1rem; }
  @media only screen and (max-width: 75em) {
    .navbar__button {
      display: flex; } }

.navbar__icon {
  position: relative;
  gap: 0.5rem;
  width: 2.5rem; }
  .navbar__icon, .navbar__icon::after, .navbar__icon::before {
    height: 0.4rem;
    background-color: var(--color-secondary-dark); }
  .navbar__icon::after, .navbar__icon::before {
    content: "";
    position: absolute;
    left: 0; }
  .navbar__icon::before {
    width: 2rem;
    top: 1rem; }
  .navbar__icon::after {
    width: 3rem;
    top: -1rem; }

.navbar--toggle__toggler {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 6rem; }
  .navbar--toggle__toggler li {
    width: 25rem;
    height: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    cursor: pointer; }
    .navbar--toggle__toggler li:hover a {
      color: var(--color-dark-component); }
    .navbar--toggle__toggler li::before {
      content: "";
      position: absolute;
      height: 5rem;
      transform: scaleY(0);
      left: 0;
      width: 0rem;
      transition: width 0.5s; }
    .navbar--toggle__toggler li:hover::before {
      content: "";
      position: absolute;
      height: 5rem;
      transform: scaleY(1) skewX(-15deg);
      left: 0;
      background-color: var(--color-secondary-dark);
      width: 25rem; }
    .navbar--toggle__toggler li a, .navbar--toggle__toggler li:link, .navbar--toggle__toggler li:visited {
      position: inherit;
      text-decoration: none;
      color: var(--color-secondary-light);
      font-size: 3rem;
      z-index: 20; }

.toggle--btn {
  display: none; }
  @media only screen and (max-width: 75em) {
    .toggle--btn {
      display: inline-block; } }
  .toggle--btn .btn__toggle {
    height: 5rem;
    width: 15rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; }

.hidden {
  display: none; }

.section {
  transform: none;
  transition: all 1s; }

.section--left {
  opacity: 0;
  transform: translateX(8rem); }

.section--right {
  opacity: 0;
  transform: translateX(-8rem); }

.section--hidden {
  opacity: 0;
  transform: translateY(8rem); }

.btn {
  padding: 1rem 1rem;
  background-color: transparent;
  font-size: 1rem;
  border-radius: 1px;
  cursor: pointer;
  border: 1px solid var(--color-secondary-dark);
  transition: all 0.5s; }
  @media only screen and (max-width: 37.5em) {
    .btn__nav {
      display: none; } }
  .btn a {
    color: var(--color-secondary-light); }
  .btn > * {
    text-decoration: none;
    text-transform: uppercase; }
  .btn:hover, .btn:active {
    background-color: var(--color-secondary-dark);
    transform: scale(1.1, 1.1);
    border: 1px solid #00435e; }
    .btn:hover a, .btn:active a {
      color: black; }

.navigation--button {
  margin-right: 3rem; }
  @media only screen and (max-width: 75em) {
    .navigation--button {
      display: none; } }

.btn--primary {
  padding: 1rem 5rem;
  color: black;
  background-color: var(--color-dark-primary);
  border-radius: 3rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer; }

.search--btn {
  margin-bottom: 3rem;
  background-color: var(--color-secondary-light);
  border: none;
  width: 80%;
  margin-left: 4rem;
  cursor: pointer;
  font-size: 1.7rem;
  color: #444343;
  padding: 1rem 0rem; }

.btn--animated {
  transition: all 0.2s; }
  .btn--animated:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 1rem #00435e85; }
  .btn--animated:active, .btn--animated:focus {
    outline: none;
    color: white;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem #00435e81; }

.logo--image {
  width: 10rem; }

.mssg--icon {
  width: 9rem;
  animation: rotate 1.5s 1s ease-out infinite; }

.mssg--container {
  padding: 2rem;
  margin-right: 2rem; }

.video {
  position: absolute;
  filter: brightness(50%);
  width: 100%;
  height: 100%;
  left: 0; }
  @media only screen and (max-width: 56.25em) {
    .video {
      position: relative;
      width: 100%; } }

.video--text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  z-index: 1;
  left: 13rem;
  top: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .video--text {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -20%;
      left: -4rem; } }
  .video--text p {
    font-size: 2.5rem; }
    @media only screen and (max-width: 56.25em) {
      .video--text p {
        font-size: 2rem; } }
  .video--text h1 {
    font-size: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .video--text h1 {
        font-size: 2.5rem; } }
  .video--text h6 {
    font-size: 2.4rem; }
    @media only screen and (max-width: 56.25em) {
      .video--text h6 {
        font-size: 1.9rem; } }

.form {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .form > * {
    margin-right: 10rem; }

.search--form {
  padding: 1.5rem 2rem;
  margin: 2rem 0;
  background-color: white;
  width: 65%;
  border: none;
  color: #777;
  font-size: 1.8rem;
  box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15); }
  .search--form:focus {
    outline: none;
    box-shadow: 0 1rem 2rem #f0f0f0; }
  .search--form:invalid {
    border-bottom: 1rem solid #ff7730; }
  @media only screen and (max-width: 56.25em) {
    .search--form {
      width: 80%;
      font-size: 1.3rem; } }

.search--date {
  width: 30%; }
  .search--date:focus {
    outline: none;
    box-shadow: 0 1rem 2rem #f0f0f0; }
    .search--date:focus:invalid {
      border-bottom: 0.3rem solid #ff7730; }
  .search--date::placeholder {
    font-size: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .search--date {
      display: none; } }

.booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1.5rem solid var(--color-secondary-light);
  background-color: var(--color-secondary-dark);
  width: 80%; }
  .booking h1 {
    font-size: 3rem;
    color: #444343;
    padding-top: 5rem;
    text-align: center;
    width: 100%; }
  .booking .book--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .booking .book--form {
        gap: 1rem; } }
    .booking .book--form > * {
      width: 80%;
      border: none;
      color: #777;
      font-size: 1.8rem;
      padding: 1.5rem 2rem;
      box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15); }
      .booking .book--form > *:focus {
        outline: none;
        box-shadow: 0 0rem 0.1rem #444; }
  .booking .checkbox-content {
    margin: 1rem;
    margin-left: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .booking .checkbox-content {
        width: 100%;
        margin: 2rem 7rem; } }
  .booking .checkbox {
    width: 4%; }
  .booking label {
    font-size: 1.5rem;
    color: #444343; }

.popular--tour--section {
  height: 100%;
  width: 34.3rem;
  margin-bottom: 5rem;
  box-shadow: 0rem 0.1rem 0.1rem #dad7d7;
  overflow: hidden; }
  @media only screen and (max-width: 75em) {
    .popular--tour--section {
      width: 36rem; } }
  @media only screen and (max-width: 56.25em) {
    .popular--tour--section {
      width: 36rem; } }
  .popular--tour--section:hover {
    background-color: #f0f0f0; }

.popular--image {
  object-fit: cover; }
  .popular--image img {
    height: 25rem;
    width: 100%; }

.popular--highlight {
  padding: 1rem 1rem;
  width: 80%;
  transform: translateY(-50%);
  background-color: white; }
  .popular--highlight p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.3rem; }
  .popular--highlight h3 {
    font-size: 2.3rem; }

.popular--schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem; }

.popular--icon {
  display: flex;
  align-items: center;
  font-size: 1.5rem; }

.all--tours--link {
  margin-bottom: 10rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem; }
  .all--tours--link a {
    text-decoration: none;
    font-size: 2rem;
    color: #444343; }
    .all--tours--link a:hover {
      color: var(--color-secondary-dark); }

.none {
  display: none; }

.view--all--heading {
  grid-row: 1/2;
  grid-column: 3/5;
  margin-left: 10rem;
  z-index: 2; }
  .view--all--heading h3 {
    font-size: 2.5rem;
    padding: 1.5rem 2rem;
    color: white;
    background-color: var(--color-secondary-dark); }
    .view--all--heading h3:hover {
      color: var(--color-dark-component); }
    @media only screen and (max-width: 56.25em) {
      .view--all--heading h3 {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 37.5em) {
      .view--all--heading h3 {
        font-size: 2.5rem; } }

.all--tour--heading {
  grid-row: 1 / span 2;
  grid-column: 5 / 9;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  margin-top: 2rem; }
  .all--tour--heading p {
    font-size: 1.7rem; }
  .all--tour--heading h1 {
    font-size: 2.5rem; }
    @media only screen and (max-width: 56.25em) {
      .all--tour--heading h1 {
        font-size: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .all--tour--heading h1 {
        font-size: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .all--tour--heading {
      margin-top: 0; } }

.each--tour {
  object-fit: cover;
  width: 100%;
  position: relative; }
  .each--tour__1 {
    grid-row: 2/12;
    grid-column: 1/5; }
  .each--tour__2 {
    grid-row: 3/8;
    grid-column: 5/7; }
  .each--tour__3 {
    grid-row: 3/8;
    grid-column: 7/9; }
  .each--tour__4 {
    grid-row: 8/13;
    grid-column: 5/7; }
  .each--tour__5 {
    grid-row: 8/13;
    grid-column: 7/9; }
  .each--tour--image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%); }
    .each--tour--image:hover {
      filter: brightness(90%);
      transform: scale(1.2);
      overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .each--tour--image {
        height: 30rem; } }
  .each--tour figcaption {
    position: absolute;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-top: -10rem;
    justify-content: center;
    align-content: center;
    margin-left: 3rem; }
    .each--tour figcaption:hover {
      color: var(--color-secondary-dark);
      cursor: pointer; }
    .each--tour figcaption h3 {
      font-size: 2.5rem; }
      @media only screen and (max-width: 56.25em) {
        .each--tour figcaption h3 {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .each--tour figcaption h3 {
          font-size: 2.5rem; } }
    .each--tour figcaption p {
      font-size: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .each--tour figcaption p {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .each--tour figcaption p {
          font-size: 2.5rem; } }

.view--all--bottom {
  grid-row: 11/13;
  grid-column: 3/5;
  padding: 1.5rem 2rem;
  background-color: var(--color-secondary-light);
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .view--all--bottom:hover {
    color: var(--color-dark-component); }
  .view--all--bottom p {
    font-size: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .view--all--bottom p {
        font-size: 1.3rem; } }
    @media only screen and (max-width: 37.5em) {
      .view--all--bottom p {
        font-size: 2rem; } }
  .view--all--bottom h3 {
    font-size: 3.5rem; }
    @media only screen and (max-width: 56.25em) {
      .view--all--bottom h3 {
        font-size: 1.3rem; } }
    @media only screen and (max-width: 37.5em) {
      .view--all--bottom h3 {
        font-size: 3.5rem; } }

.activities--images {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow: hidden; }

.activities-slide {
  height: 26rem;
  position: relative; }

.act-img {
  width: 22rem;
  height: 26rem;
  object-fit: cover;
  filter: brightness(50%); }
  @media only screen and (max-width: 75em) {
    .act-img {
      height: 25rem;
      width: 18rem; } }
  @media only screen and (max-width: 56.25em) {
    .act-img {
      height: 24rem;
      width: 14rem; } }
  .act-img:active, .act-img:hover {
    filter: brightness(70%);
    transform: scale(1.1); }
  .act-img__cap {
    overflow: hidden; }
    .act-img__cap p {
      font-size: 2rem;
      color: white;
      text-transform: uppercase;
      position: absolute;
      margin-top: -10rem;
      margin-left: 4rem; }

.footer {
  margin-top: 10rem;
  background-color: #00435e;
  color: var(--color-secondary-light); }
  .footer__1 {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .footer__1 {
        flex-direction: column;
        align-items: flex-start; } }
  .footer__2 {
    width: 100%;
    padding: 3rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .footer__2 {
        flex-wrap: wrap; } }
    .footer__2 > * {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      @media only screen and (max-width: 37.5em) {
        .footer__2 > *:last-child {
          margin-top: 3rem; } }
      .footer__2 > * h3 {
        font-size: 2rem; }
      .footer__2 > * address {
        font-size: 1.5rem; }
        @media only screen and (max-width: 37.5em) {
          .footer__2 > * address {
            font-size: 1.3rem; } }
      .footer__2 > * p {
        font-size: 1.5rem;
        cursor: pointer; }
        .footer__2 > * p:hover {
          color: var(--color-secondary-dark); }
        @media only screen and (max-width: 37.5em) {
          .footer__2 > * p {
            font-size: 1.3rem; } }
      .footer__2 > * h6 {
        font-size: 1.5rem; }
        @media only screen and (max-width: 37.5em) {
          .footer__2 > * h6 {
            font-size: 1.3rem; } }
      .footer__2 > * img {
        width: 2rem;
        height: 1.5rem; }
  .footer__3 {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .footer__3 {
        flex-wrap: wrap; } }
    .footer__3 p {
      font-size: 1.2rem; }
  .footer hr {
    border-style: none;
    border-top-style: solid;
    border-color: #d8e5fa48; }

.logo--name {
  font-size: 3rem;
  padding: 3rem;
  position: relative;
  z-index: 1; }

.social--icons {
  display: flex;
  gap: 1rem; }
  .social--icons > * {
    border-radius: 100%;
    background-color: #012c3d;
    padding: 1rem; }
  .social--icons:last-child {
    margin-right: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .social--icons:last-child {
        margin-left: 2rem;
        margin-bottom: 1rem; } }

.drop--down__divs {
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  .drop--down__divs > * {
    display: flex; }

.contact--info__divs {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.find--tour {
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .find--tour {
      margin-right: 3rem;
      margin-left: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .find--tour {
      margin-right: 2rem;
      margin-left: 2rem; } }
  .find--tour h1 {
    font-size: 2.5rem; }
  .find--tour p {
    font-size: 1.5rem;
    color: #444343; }
    .find--tour p > * {
      margin: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .find--tour p > * {
          margin: 0.5rem; } }
    @media only screen and (max-width: 75em) {
      .find--tour p {
        width: 60%; } }
    @media only screen and (max-width: 56.25em) {
      .find--tour p {
        width: 100%; } }

.one--and--only--section {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: #f0f0f0; }
  @media only screen and (max-width: 56.25em) {
    .one--and--only--section {
      margin-right: 3rem;
      margin-left: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .one--and--only--section {
      margin-right: 2rem;
      margin-left: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .one--and--only--section {
      flex-direction: column;
      justify-content: center; } }

.one--and--only--picture {
  width: 50%;
  padding-top: 10rem;
  padding-left: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .one--and--only--picture {
      width: 85%; } }

.img {
  box-shadow: 7rem -3rem 0.1rem #e6e4e4;
  width: 60%;
  height: 100%;
  object-fit: cover; }

.one--and--only {
  width: 40%; }
  @media only screen and (max-width: 75em) {
    .one--and--only {
      padding: 2rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .one--and--only {
      width: 85%; } }
  .one--and--only h1 {
    position: relative;
    z-index: 1;
    font-size: 3rem; }
  .one--and--only p {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #444343; }
  .one--and--only ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-top: 2rem;
    grid-row-gap: 2rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 75em) {
      .one--and--only ul {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); } }
    @media only screen and (max-width: 56.25em) {
      .one--and--only ul {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); } }
    .one--and--only ul li {
      text-decoration: none;
      font-size: 1.5rem; }

.popular--tour__heading {
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  color: #f0f0f0;
  position: relative;
  z-index: -1;
  background-image: linear-gradient(#00435e 50%, #00435ebd), url(../images/img3g.jpg);
  background-size: cover;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .popular--tour__heading {
      margin-right: 3rem;
      margin-left: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .popular--tour__heading {
      margin-right: 2rem;
      margin-left: 2rem; } }
  .popular--tour__heading h3 {
    font-size: 2.5rem;
    margin-top: -6rem; }
  .popular--tour__heading h1 {
    font-size: 4.5rem; }
    @media only screen and (max-width: 37.5em) {
      .popular--tour__heading h1 {
        padding-bottom: 4rem;
        padding-left: 2rem; } }

.popular--tour {
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: -13rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .popular--tour {
      margin-right: 3rem;
      margin-left: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .popular--tour {
      margin-right: 2rem;
      margin-left: 2rem; } }
  @media only screen and (max-width: 75em) {
    .popular--tour {
      gap: 4rem; } }

.activities {
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: #f0f0f0;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .activities {
      margin-right: 3rem;
      margin-left: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .activities {
      margin-right: 2rem;
      margin-left: 2rem; } }
  .activities--content {
    display: flex;
    justify-content: center;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .activities--content {
        flex-direction: column; } }
    .activities--content h1 {
      font-size: 4.5rem;
      position: relative;
      width: 100%;
      z-index: 10;
      margin-right: 2rem; }
      @media only screen and (max-width: 75em) {
        .activities--content h1 {
          margin-bottom: 2rem; } }
    .activities--content p {
      font-size: 2rem;
      color: #444343; }

.view--all--section {
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  overflow: hidden;
  display: grid;
  grid-template: repeat(12, 3.5vw)/repeat(8, 1fr); }
  @media only screen and (max-width: 56.25em) {
    .view--all--section {
      margin-right: 3rem;
      margin-left: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .view--all--section {
      margin-right: 2rem;
      margin-left: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .view--all--section {
      display: flex;
      flex-direction: column; } }

.why--choose--section {
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  gap: 5rem;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .why--choose--section {
      margin-right: 3rem;
      margin-left: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .why--choose--section {
      margin-right: 2rem;
      margin-left: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .why--choose--section {
      flex-direction: column; } }

.why--choose {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50vw;
  padding-top: 5rem; }
  .why--choose p {
    font-size: 2rem;
    color: #444343; }
  .why--choose h3 {
    font-size: 2rem; }
  .why--choose h1 {
    font-size: 3rem; }
  .why--choose__img {
    display: flex;
    gap: 1rem; }
  .why--choose__image {
    width: 25rem;
    height: 20rem;
    object-fit: cover; }
    @media only screen and (max-width: 56.25em) {
      .why--choose__image {
        width: 50%;
        height: 60%; } }
  @media only screen and (max-width: 56.25em) {
    .why--choose {
      width: 100%; } }

.booking--section {
  background-color: #f0f0f0;
  width: 40vw;
  padding-top: 5rem;
  display: flex;
  justify-content: end; }
  @media only screen and (max-width: 56.25em) {
    .booking--section {
      width: 100%;
      justify-content: center; } }

.review_overview {
  display: flex;
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  flex-direction: row; }
  @media only screen and (max-width: 56.25em) {
    .review_overview {
      margin-right: 3rem;
      margin-left: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .review_overview {
      margin-right: 2rem;
      margin-left: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .review_overview {
      flex-direction: column;
      gap: 3rem; } }

.review {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50vw;
  background-color: #f0f0f0;
  padding: 3rem 5rem;
  position: relative; }
  .review p {
    font-size: 2rem;
    color: #444343; }
  .review h3 {
    font-size: 2rem; }
  .review h1 {
    font-size: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .review {
      width: 100%; } }

.testimonial--content {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%; }

.testimonial {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  position: absolute;
  align-items: center; }
  .testimonial__shown {
    position: relative; }
  .testimonial img {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    object-fit: cover; }
  .testimonial blockquote {
    font-size: 2rem;
    color: #444343; }
    .testimonial blockquote::before {
      content: "\201C";
      position: absolute;
      color: var(--color-secondary-dark);
      top: 1rem;
      font-size: 10rem; }
  .testimonial__1 {
    transform: translateX(0); }
  .testimonial__2 {
    transform: translateX(100%); }
  .testimonial__3 {
    transform: translateX(200%); }

.video--content {
  position: relative;
  width: 40vw; }
  @media only screen and (max-width: 56.25em) {
    .video--content {
      width: 100%;
      position: relative;
      height: 100%; } }

.guide--section {
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .guide--section {
      margin-right: 3rem;
      margin-left: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .guide--section {
      margin-right: 2rem;
      margin-left: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .guide--section {
      flex-direction: column;
      gap: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .guide--section {
      flex-direction: column-reverse; } }
  .guide--section__personel {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 4rem;
    gap: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .guide--section__personel {
        width: 100%; } }
    @media only screen and (max-width: 56.25em) {
      .guide--section__personel {
        flex-direction: column; } }
  .guide--section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    margin-left: 4rem;
    padding-bottom: 4rem;
    font-size: 2rem; }
    .guide--section__content h1 {
      font-size: 3rem; }
    .guide--section__content p {
      font-size: 1.5rem;
      color: #444343; }

.guide--image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.guide--img {
  height: 30rem;
  width: 27rem;
  margin-bottom: 2rem;
  object-fit: cover; }
  @media only screen and (max-width: 56.25em) {
    .guide--img {
      width: 100%;
      height: 100%; } }

.guide--info h3 {
  font-size: 2.3rem; }

.guide--info p {
  font-size: 2rem;
  color: #dea057; }

.heading--section {
  background: linear-gradient(rgba(16, 29, 44, 0.925), rgba(16, 29, 44, 0.938)), url(../images/img5g.jpg);
  background-size: cover;
  position: relative;
  z-index: 100;
  background-position-y: center;
  max-width: 100vw;
  background-attachment: fixed; }

.heading--top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  justify-content: space-between; }

.heading--bottom {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color: var(--color-white);
  position: relative;
  left: auto; }
  @media only screen and (max-width: 37.5em) {
    .heading--bottom {
      margin-top: 5rem; } }

.architext {
  font-weight: lighter;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  letter-spacing: 1rem;
  align-items: center;
  color: var(--color-white);
  animation: moveToLeft 2s cubic-bezier(0.57, 1.1, 0.58, 1); }
  @media only screen and (max-width: 75em) {
    .architext {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .architext {
      width: 100%;
      margin: auto;
      text-align: center; } }

.heading--text {
  font-size: 2rem;
  display: block;
  width: 50%;
  letter-spacing: 0.5rem;
  margin: 2rem auto;
  text-align: center;
  line-height: 3rem;
  font-weight: lighter;
  font-family: "Lato", sans-serif;
  animation: moveToRight 2s cubic-bezier(0.57, 1.1, 0.58, 1); }
  @media only screen and (max-width: 37.5em) {
    .heading--text {
      width: 100%; } }
  @media only screen and (max-width: 75em) {
    .heading--text {
      width: 100%;
      font-size: 2rem; } }

.btn--video {
  display: flex;
  margin: 6rem 3rem;
  width: fit-content;
  animation: moveToBottom 1s cubic-bezier(0, 0.91, 1, 1.3) 1s;
  animation-fill-mode: backwards; }

.outline {
  color: var(--color-secondary-light);
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  margin-left: 0.7rem; }
  @media only screen and (max-width: 37.5em) {
    .outline {
      width: 70vw; } }
  .outline > * {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 100; }
    @media only screen and (max-width: 37.5em) {
      .outline > * {
        font-size: 1rem; } }
  .outline p {
    margin-right: 2rem;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .outline p {
        margin-bottom: 1rem;
        margin-right: 2.1rem;
        width: 30%; } }
  .outline hr {
    border-color: var(--color-secondary-dark);
    margin-right: 0.2rem; }

.header--last {
  position: relative;
  bottom: 0;
  display: flex;
  padding-left: 6rem;
  justify-content: space-between;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .header--last {
      padding-left: 0; } }

.nav--element {
  display: flex; }

.navigation--icons {
  display: flex;
  align-self: flex-start;
  margin-top: 3rem;
  margin-left: 0; }
  .navigation--icons > * {
    padding-right: 2.5rem;
    text-decoration: none; }
  @media only screen and (max-width: 75em) {
    .navigation--icons {
      display: none; } }

.navigation--icon {
  height: 1.8rem;
  width: 2.9rem;
  fill: var(--color-white); }
  .navigation--icon:hover, .navigation--icon:active {
    fill: var(--color-dark-component); }
  .navigation--icon__location {
    margin-left: 2rem; }

.navigation--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
  font-size: 2rem;
  color: var(--color-secondary-light);
  margin-bottom: 1rem;
  width: auto; }
  @media only screen and (max-width: 75em) {
    .navigation--text {
      margin-left: -4.5rem; } }
  .navigation--text__top {
    font-family: "IBM Plex Mono", monospace; }
  .navigation--text__bottom {
    font-family: "Inspiration", cursive;
    font-size: 2.5rem; }

.navigation--bottom {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .navigation--bottom__box {
      display: none; } }
  .navigation--bottom__box hr {
    margin-left: -3rem;
    border-color: var(--color-secondary-dark);
    border-style: none;
    border-top-style: dotted;
    margin-top: 1rem; }
  .navigation--bottom__list {
    display: flex;
    align-items: center; }
  .navigation--bottom__list__items {
    list-style: none; }
    .navigation--bottom__list__items:hover, .navigation--bottom__list__items:active {
      transform: scale(1.1, 1.1); }
      .navigation--bottom__list__items:hover a, .navigation--bottom__list__items:active a {
        color: var(--color-secondary-dark); }
  .navigation--bottom__list__links {
    text-decoration: none;
    margin-right: 5rem;
    font-size: 2rem;
    color: var(--color-secondary-light); }
