:root {
  --color-primary-light: #57dede;
  --color-primary-dark: #ffffff;
  --color-secondary-dark: #fddd7c;
  --color-secondary-light: #d8e5fa;

  --color-dark-component: #49493c;
  --color-light-component: #73777b;
  --color-dark-secondary: #e9f0f1;
  --color-dark-primary: #92b4ec;
  --color-white: #ffffff;
}
$color-dark-component: #dea057;
$color-light-component: #f1eee9;

$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-grey-dark-1: #976f6ebb;
$color-grey-dark-2: #00435e;
