// @import url("https://fonts.googleapis.com/css2?family=Forum&family=Fredericka+the+Great&family=Inspiration&family=Nixie+One&family=Reenie+Beanie&family=Walter+Turncoat&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // max-width: 100vw;
  // border: 1px solid red;
}
